<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarthak Saxena</title>
    <link rel="icon" type="image/png" href="images/logo-sure06.png">

    <link rel="stylesheet" href="css/projects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="mobileCSS/project.css">

</head>
<body>

    {{!-- NAVBAR at templates/partials  --}}
{{>navbar}}

<!--projects section start -->

     <section class="section-third" id="section-third">
        <h2>My <span>Projects</span></h2>
        <p>Recently completed</p>

        <div class="section-third-task">
            <div class="task-1">
                <img src="images/drums.png" alt="">
                <h3>Play The Drums</h3>
                <p>
"Play the Drums" is a JavaScript project that emulates a real drum kit experience online.
It replicates the look, feel, and sound of a traditional drum set, 
allowing users to play drums digitally in their web browser. 
With intuitive controls and lifelike sounds, it provides an immersive and interactive platform 
for drumming enthusiasts and learners alike.
                </p>
                <div class="button-class">
                    <a href="https://github.com/Sarthak-Sure06/play-drums"><button class="button-1"></i><span class="github-logo"><i class="fa-brands fa-github" style="color: white;"></i></span>github</button></a>
                    <a href="https://playdrums-sure06.netlify.app/"><button class="button-2">Play</button></a>
                </div>
            </div>

             <div class="task-4">
                <img src="images/QR.png" alt="">
                <h3>Generate Your QR</h3>
                <p>"Generate Your QR" is a sleek web application crafted with JavaScript, 
                    Node.js, Express, HTML, and CSS. Seamlessly converting text or links into QR codes, 
                    it delivers a seamless user experience. Empowered by Node.js and Express on the backend, 
                    and enriched with HTML and CSS for intuitive design, it offers a professional and efficient 
                    solution for QR code generation.
                </p>
                <div class="button-class">
                    <a href="https://github.com/Sarthak-Sure06/Generate-Your-QR"><button class="button-1"></i><span class="github-logo"><i class="fa-brands fa-github" style="color: white;"></i></span>github</button></a>
                    <a href="https://generate-your-qr-sure06.netlify.app/"><button class="button-2">QR</button></a>
                    
                    
                </div>
            </div>


            <div class="task-2">
                <img src="images/weather-app.png" alt="">
                <h3>Get Current Weather</h3>
                <p>"Get Current Weather" is a JavaScript project utilizing Node.js, 
                    Express, and the OpenWeather API to deliver real-time weather information. 
                    This website allows users to access current weather data for any location worldwide.
                    Users input their location and receive instant, accurate weather data through a user-friendly interface.
                </p>
                <div class="button-class">
                    <a href="https://github.com/Sarthak-Sure06/weather-app"><button class="button-1"></i><span class="github-logo"><i class="fa-brands fa-github" style="color: white;"></i></span>github</button></a>
                    <a href="https://mausam-weather-sure06.onrender.com/"><button class="button-2">demo</button></a>
                   
                    
                </div>
            </div>

            <div class="task-3">
                <img src="images/eanime.png" alt="">
                <h3>E-Anime</h3>
                <p>"E Anime" is a full-stack JAVA web application for buying and selling anime merchandise. 
                    It uses JSP, Servlets, XML, CSS, and Bootstrap for functionality and design. Admins can manage CRUD operations, 
                    with Apache Tomcat hosting and MySQL database connectivity via JDBC.
                </p>
                <div class="button-class">
                    <a href="https://github.com/Sarthak-Sure06/eAnime/tree/master/eAnime"><button class="button-1"></i><span class="github-logo"><i class="fa-brands fa-github" style="color: white;"></i></span>github</button></a>
                    
                    <button class="button-2">demo</button>
                </div>
            </div>

            {{!-- <div class="task-5">
                <img src="images/weather-app.png" alt="">
                <h3>Do-Today</h3>
                <p>"Do-Today" is a streamlined task manager app built with JavaScript, 
                    Node.js, Express, HTML, and CSS. With its clean interface and adaptable themes, 
                    users can effortlessly organize and prioritize their daily tasks to boost productivity.
                </p>
                <div class="button-class">
                    <button class="button-1"></i><span class="github-logo"><i class="fa-brands fa-github" style="color: white;"></i></span>github</button>
                    <button class="button-2">Use</button>
                </div>
            </div> --}}

            <div class="task-6">
                <img src="images/hotel.png" alt="">
                <h3>Manage-Hotel</h3>
                <p>"Manage-Hotel" is a Java Swing and AWT-based desktop application designed to automate hotel operations. 
                    It features a user-friendly interface and utilizes MySQL with JDBC for database connectivity.
                </p>
                <div class="button-class">
                    <a href="https://github.com/Sarthak-Sure06/Hotel-Hospitality-management-system"><button class="button-1"></i><span class="github-logo"><i class="fa-brands fa-github" style="color: white;"></i></span>github</button></a>
                    <button class="button-2">demo</button>
                </div>
            </div>

            <div class="task-6">
                <img src="images/face.png" alt="">
                <h3>Face-Expression-Reader</h3>
                <p>"Unlock the power of facial expressions with Face Expression Reader. 
                    This innovative app provides real-time analysis and accurate recognition of emotions, 
                    offering personalized feedback and valuable insights for educators, psychologists, 
                    and anyone interested in understanding human emotions."
                </p>
                <div class="button-class">
                    <a href="https://github.com/Sarthak-Sure06/faceexp"><button class="button-1"></i><span class="github-logo"><i class="fa-brands fa-github" style="color: white;"></i></span>github</button></a>
                    <button class="button-2">demo</button>
                </div>
            </div>

        </div>
     </section>

      <!-- projects section end  -->


{{!-- footer start  --}}
{{>footer}}

     {{!-- scripts for mobile  --}}
     {{>mobilefooter}}
    
</body>
</html>