 <!-- our footer section start-->


      <footer>
        <div class="copyright">
            <h3>copyright 2024 @ sarthak saxena</h3>
        </div>
        <div class="footer-menu">
            <h3>Design and Developed by Sarthak Saxena</h3>
        </div>
        <!-- right side navbar  -->
        <div class="right-side-menu">

            <div class="sub-menu">
                <a href="https://www.instagram.com/studyy_with_sure/?hl=en">
                    <button><i class="fa-brands fa-instagram" style="color: #b326f6;"></i></button>
                
                <a href="https://github.com/Sarthak-Sure06">
                    <button><i class="fa-brands fa-github" style="color: #b326f6;"></i></button>
                </a>
                <a href="https://www.linkedin.com/in/thesarthaksaxena/">
                    <button><i class="fa-brands fa-linkedin-in" style="color: #b326f6;"></i></button>
                </a>
                <a href="https://twitter.com/sure_06_">
                    <button><i class="fa-brands fa-x-twitter" style="color: #b326f6;"></i></button>
                </a>
            </div>
            
        </div>
      </footer>



       <!-- our footer section end- -->
