 <!-- navbar section start  -->
    <header class="header">
        <div class="logo">
            <a class="sure06" href="#"><h3>Sure06</h3></a>
        </div>
        <nav class="navbar">
            <!-- left side navbar -->
            <div class="left-side-menu">

                <div class="sub-menu">
                    <a href="/index">
                        <li>Home</li>
                        </a>
                    <a href="/about">
                        <li>About</li>
                    </a>
                    <a href="/projects">
                        <li>Projects</li>
                    </a>
                    <a href="/contact">
                        <li>Contact</li>
                    </a>
                </div>

            </div>

            <!-- right side navbar  -->
            <div class="right-side-menu">

                <div class="sub-menu">
                    <a href="https://www.instagram.com/studyy_with_sure/?hl=en">
                        <button><i class="fa-brands fa-instagram" style="color: #b326f6;"></i></button>
                    
                    <a href="https://github.com/Sarthak-Sure06">
                        <button><i class="fa-brands fa-github" style="color: #b326f6;"></i></button>
                    </a>
                    <a href="https://www.linkedin.com/in/thesarthaksaxena/">
                        <button><i class="fa-brands fa-linkedin-in" style="color: #b326f6;"></i></button>
                    </a>
                    <a href="https://twitter.com/sure_06_">
                        <button><i class="fa-brands fa-x-twitter" style="color: #b326f6;"></i></button>
                    </a>
                </div>
                
            </div>
        </nav>

        <div class="mobile-navbar-btn">
            <ion-icon name="menu" class="icon-open"></ion-icon>
            <ion-icon name="close" class="icon-close"></ion-icon>
        </div>
    </header>
     <!-- navbar section end  -->